:root {
  font-size: 16px;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  /* Variables */
  --light: rgb(249, 247, 247);
  --light-grey: rgb(231, 224, 224);
  --light-blue: rgb(219, 226, 239);
  --blue: rgb(63, 114, 175);
  --dark-blue: rgb(17, 45, 78);

  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-big: 2rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.header__grid-size--left[type="number"]::-webkit-textfield-decoration-container {
  flex-direction: row-reverse;
}
input[type="number"]::-webkit-inner-spin-button {
  /* Spinner always visible */
  opacity: 1;
}

@keyframes rollUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input[dir="rtl"]::-webkit-outer-spin-button,
input[dir="rtl"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Elements */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--space-small);
}

.header__info {
  letter-spacing: 0.2rem;
  cursor: default;
}

.header__grid-sizes {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: 1.1rem;
}

.header__grid-size {
  width: 3rem;
  font-family: "BBH Sans Hegarty", sans-serif;
  text-align: center;
  border: none;
  font-size: 1.2rem;
}

.header__grid-size:hover {
  opacity: 70%;
}

.header__button:hover {
  background-color: black;
  color: white;
}

.container {
  height: 48rem;
  width: 48rem;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 1rem;
  animation: rollUp;
  animation-duration: 2s;
}

.container__tile {
  cursor: pointer;
  flex: 0 0 6.25%;
  width: 3rem;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container__tile--corner-tl {
  border-top-left-radius: 1rem;
}

.container__tile--corner-tr {
  border-top-right-radius: 1rem;
}

.container__tile--corner-bl {
  border-bottom-left-radius: 1rem;
}

.container__tile--corner-br {
  border-bottom-right-radius: 1rem;
}

.app__footer {
  text-align: center;
  padding: var(--space-small);
}
